html, 
body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  width: 80%;
  margin: 70px auto 0;
  padding: 10px;
  -webkit-box-shadow: 0 0 4px rgba(20,20,20,0.4);
  box-shadow: inset hoff voff blur color;
}

.item {
  float: left;
  width: 30%;
  text-align: center;
}

.item h3 {
  margin-top: 0;
  font-size: 15px;
  text-align: center;
}

.item.first {
  width: 40%;
}

.route input,
.route select {
  width: 80%;
  margin: 5px 5% 10px;
  padding: 5px;
}

.route select {
  width: 90%;
  margin: 5px 5% 10px;
}

.input-group label {
  display: inline-block;
  vertical-align: top;
  width: 135px;
  padding-right: 10px;
  text-align: right;
}

.input-group input,
.input-group select {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  padding: 5px;
}

.input-group > select {
  width: 190px;
}

.result {
  margin-top: 50px;  
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.result p {
  min-height: 25px;
}

.btn {
  display: block;
  width: 200px;
  padding: 5px 10px;
  margin: 40px auto 20px;
}